spring:
  application:
    name: inventory-service

# PostgreSQL Database Configurations:
  datasource:
    url: jdbc:postgresql://localhost:1010/inventory_db
    username: user
    password: pass

# Jpa & Hibernate Configurations:
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      data-locations: classpath:data.sql

# Eureka Client Registration Configurations:
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    fetchRegistry: true
    registerWithEureka: true
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 10
    lease-expiration-duration-in-seconds: 30

# Server Configurations:
server:
  port: 9010
  servlet:
    context-path: /api/v1
